/mootm.pc
/mootm.spec
/*~
/.*~
/*.o
/*.lo
/*.la
/*.a
/*.so
/*.gz
/*.bz2
/*.deb
/*.changes
/*.dsc
/*.rpm
/*-static.*
/*-static
/rpm
/.libs
/.deps
/aclocal.m4
/autom4te.cache
/Makefile
/Makefile.in
/README.txt
/configure
/config.log
/config.status
/config.cache
/libtool
/include
/*.tmp
/*.html

/doc/html
/doc/latex
/doc/man
/doc/*.stamp
/doc/*~
/doc/.*~
/doc/*.o
/doc/*.lo
/doc/*.la
/doc/.libs
/doc/*.a
/doc/*.so
/doc/*.gz
/doc/*.bz2
/doc/*.zip
/doc/.deps
/doc/autom4te.cache
/doc/aclocal.m4
/doc/Makefile
/doc/Makefile.in
/doc/README.txt
/doc/configure
/doc/config.log
/doc/config.status
/doc/config.cache
/doc/libtool
/doc/tmp

/doc/libmootm/html
/doc/libmootm/latex
/doc/libmootm/man
/doc/libmootm/libmootm.doxy
/doc/libmootm/libmootm.log
/doc/libmootm/libmootm.tag
/doc/libmootm/doxy-filter.log
/doc/libmootm/*.db
/doc/libmootm/*.stamp
/doc/libmootm/*~
/doc/libmootm/.*~
/doc/libmootm/*.o
/doc/libmootm/*.lo
/doc/libmootm/*.la
/doc/libmootm/.libs
/doc/libmootm/*.a
/doc/libmootm/*.so
/doc/libmootm/*.gz
/doc/libmootm/*.bz2
/doc/libmootm/*.zip
/doc/libmootm/.deps
/doc/libmootm/autom4te.cache
/doc/libmootm/aclocal.m4
/doc/libmootm/Makefile
/doc/libmootm/Makefile.in
/doc/libmootm/README.txt
/doc/libmootm/configure
/doc/libmootm/config.log
/doc/libmootm/config.status
/doc/libmootm/config.cache
/doc/libmootm/libtool
/doc/libmootm/doxy-filter.cfg
/doc/libmootm/mainpage.dox

/doc/programs/acknowledge.pod
/doc/programs/*.tmp
/doc/programs/other
/doc/programs/*.gog
/doc/programs/*.html
/doc/programs/*.txt
/doc/programs/*.tex
/doc/programs/*.1
/doc/programs/*.man
/doc/programs/*.ps
/doc/programs/*.pdf
/doc/programs/*.dvi
/doc/programs/*.aux
/doc/programs/*.log
/doc/programs/*.toc
/doc/programs/*.idx
/doc/programs/*.stamp
/doc/programs/*~
/doc/programs/.*~
/doc/programs/*.o
/doc/programs/*.lo
/doc/programs/*.la
/doc/programs/.libs
/doc/programs/*.a
/doc/programs/*.so
/doc/programs/*.gz
/doc/programs/*.bz2
/doc/programs/*.zip
/doc/programs/.deps
/doc/programs/autom4te.cache
/doc/programs/aclocal.m4
/doc/programs/Makefile
/doc/programs/Makefile.in
/doc/programs/README.txt
/doc/programs/configure
/doc/programs/config.log
/doc/programs/config.status
/doc/programs/config.cache
/doc/programs/libtool

/src/alphatest
/src/hashtest
/src/opttest
/src/mabbaw
/src/*.par
/src/*.tt
/src/*.pp
/src/*.out
/src/*.tmp
/src/*~
/src/.*~
/src/*.o
/src/*.lo
/src/*.la
/src/.libs
/src/*.a
/src/*.so
/src/.deps
/src/*.fst
/src/*.tfst
/src/*.lab
/src/stamp-h*
/src/config.h
/src/config.h.in
/src/aclocal.m4
/src/Makefile
/src/Makefile.in
/src/README.txt
/src/configure

/src/libmootm/*~
/src/libmootm/.*~
/src/libmootm/*.o
/src/libmootm/*.lo
/src/libmootm/*.la
/src/libmootm/*.a
/src/libmootm/*.so
/src/libmootm/.libs
/src/libmootm/.deps
/src/libmootm/*.fst
/src/libmootm/*.tfst
/src/libmootm/*.lab
/src/libmootm/*.loT
/src/libmootm/mootmConfig.h
/src/libmootm/mootmConfig.h.in
/src/libmootm/mootmUnConfig.h
/src/libmootm/mootPPLexer.cc
/src/libmootm/mootPPLexer.h
/src/libmootm/mootTaggerLexer.cc
/src/libmootm/mootTaggerLexer.h
/src/libmootm/mootTaglistLexer.cc
/src/libmootm/mootTaglistLexer.h
/src/libmootm/mootParamLexer.cc
/src/libmootm/mootParamLexer.h
/src/libmootm/mootParamParser.cc
/src/libmootm/mootParamParser.h
/src/libmootm/mootNgramsLexer.cc
/src/libmootm/mootNgramsLexer.h
/src/libmootm/mootNgramsParser.cc
/src/libmootm/mootNgramsParser.h
/src/libmootm/mootLexfreqsLexer.cc
/src/libmootm/mootLexfreqsLexer.h
/src/libmootm/mootLexfreqsParser.cc
/src/libmootm/mootLexfreqsParser.h
/src/libmootm/mootAlphabetLexer.cc
/src/libmootm/mootAlphabetLexer.h
/src/libmootm/mootAlphabetParser.cc
/src/libmootm/mootAlphabetParser.h
/src/libmootm/gmon.out
/src/libmootm/*.output
/src/libmootm/stamp-h*
/src/libmootm/config.h
/src/libmootm/config.h.in
/src/libmootm/aclocal.m4
/src/libmootm/Makefile
/src/libmootm/Makefile.in
/src/libmootm/README.txt
/src/libmootm/configure
/src/libmootm/graveyard
/src/libmootm/negra*
/src/libmootm/*.hmm
/src/libmootm/*.lfr
/src/libmootm/*.123
/src/libmootm/*.t
/src/libmootm/*.tt
/src/libmootm/*.ttt
/src/libmootm/*.out
/src/libmootm/DWDS
/src/libmootm/DWDS-POS
/src/libmootm/prof
/src/libmootm/save
/src/libmootm/hmmtest
/src/libmootm/isalph-test
/src/libmootm/ngchurn
/src/libmootm/lxchurn
/src/libmootm/test.*
/src/libmootm/*test
/src/libmootm/pre-gpl

/src/programs/mootrain
/src/programs/dwdspp
/src/programs/mootpp
/src/programs/moot
/src/programs/dwdsm
/src/programs/mootm
/src/programs/dwdshmm
/src/programs/moothmm
/src/programs/moot-pargen
/src/programs/moot-fstgen
/src/programs/[^a]*.pod
/src/programs/*.1
/src/programs/*.xml
/src/programs/*.list
/src/programs/*.par
/src/programs/*.apar
/src/programs/*.tpar
/src/programs/*.atpar
/src/programs/*.ttt
/src/programs/*.tt
/src/programs/*.t
/src/programs/*.mtt
/src/programs/*.dmtt
/src/programs/*.mdmtt
/src/programs/*.fmtt
/src/programs/*.bin
/src/programs/*.cbin
/src/programs/*.fbin
/src/programs/*.dump
/src/programs/beforeepsclosure.fsm
/src/programs/negra*.lex
/src/programs/negra*.123
/src/programs/*.pp
/src/programs/*.out
/src/programs/*.tmp
/src/programs/*~
/src/programs/.*~
/src/programs/*.o
/src/programs/*.lo
/src/programs/*.la
/src/programs/.libs
/src/programs/*.a
/src/programs/*.so
/src/programs/.deps
/src/programs/*.ps
/src/programs/*.lfsa
/src/programs/*.fst
/src/programs/*.tfst
/src/programs/*.fsa
/src/programs/*.tfsa
/src/programs/*.afst
/src/programs/*.afsa
/src/programs/*.dot
/src/programs/*.lab
/src/programs/*.scl
/src/programs/*_cmdparser.cc
/src/programs/*_cmdparser.h
/src/programs/stamp-h*
/src/programs/config.h
/src/programs/config.h.in
/src/programs/aclocal.m4
/src/programs/Makefile
/src/programs/Makefile.in
/src/programs/README.txt
/src/programs/configure
/src/programs/data
/src/programs/*.123
/src/programs/*.lex
/src/programs/*.log
/src/programs/tmp

/config/*~
/config/.*~
/config/*.o
/config/*.lo
/config/*.la
/config/.libs
/config/*.a
/config/*.so
/config/aclocal.m4
/config/Makefile
/config/Makefile.in
/config/README.txt
/config/configure
/config/.deps
/config/depcomp
/config/missing
/config/config.guess
/config/ltmain.sh
/config/config.sub
/config/install-sh
/config/compile

/m4/libtool.m4
/m4/lt*.m4

